<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>Przedmiot:</td>
            <td><%= zajecia %></td>
            <td>Imię:</td>
            <td><%= imie %></td>
            <td>Nazwisko:</td>
            <td><%= nazwisko %></td>
        </tr>        
    </table>
    <table>  
        <tr>
            <td>Zadanie:</td>
            <% for(var i = 1; i <= 10; i++) { %>
            <td><%= i %></td>
            <% } %>
        </tr>
        <tr>
            <td>Punkty:</td>
            <% for(var i = 1; i <= 10; i++) { %>
            <td><% if(punkty[i-1] > 0){ %>
                    <%= punkty[i-1] %>
                <% }else {%> <%= 0 %> <% } %></td>
            <% } %>
        </tr>
    </table>
</body>
</html>